.form-horizontal {
  display: none;
}

.login-container {
  position: relative;
  width: 840px;
  height: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
}

.col-left, .col-right {
  width: 400px;
  padding: 10px;
  float: left;
}

.btn {
  border-radius: 0;
}

.btn-outline {
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background, color 0.3s ease-out;
}
.btn-outline:hover {
  background: #fff;
  color: #1F1F21;
}

.background-float {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: 20px;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  color: #1F1F21;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  transition: left 1s cubic-bezier(0.68, -0.26, 0.21, 1.21);
  z-index: 1;
}
.background-float form {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.4, 0, 1, 1);
}
.background-float form.register-form {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.background-float form .form-control {
  border-radius: 0;
}

[name=choose-login]:checked {
  position: relative;
  color: #1F1F21;
  border-color: #1F1F21;
  z-index: 1;
}
[name=choose-login]:checked + .background-float {
  position: absolute;
  left: 420px;
}
[name=choose-login]:checked + .background-float .register-form {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
[name=choose-login]:checked + .background-float .login-form {
  height: auto;
  opacity: 1;
  visibility: visible;
}
#exampleInputEmail1{
  width: 90%;
  height: 30px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 5px;
  border-color: #a8a8a8;



}
#exampleInputPassword1{
  width: 90%;
  height: 30px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 5px;

}